<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <input
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
    />
  </div>
  <div>
    <input
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password"
    />
  </div>
  <div *ngIf="username!.errors?.['required']||password!.errors?.['required']">
    Fill all the fields
  </div>

  <div *ngIf="password!.errors?.['pattern']">
    password must be atleast 8 characters long,and consist of letters and
    numbers
  </div>

  <div *ngIf="username!.errors?.['maxlength']">
    the username must not be longer than 30 charcters
  </div>

  <div *ngIf="!username!.invalid && !password!.invalid">
    <button type="submit">Login</button>
  </div>
</form>
